:root {
    
    /* NÃO ESTÁ EM USO, MAS AQUI ESTÁ A PALHETA DE CORES */

    --blue-5: #006EB3;
    --blue-4: #1F4B66;
    --blue-3: #008EE6;
    --blue-2: #46ACEB;
    --blue-menu-top: #0080CD;

    --light-gray: #ebebeb;

    --white: #FFFFFF;
    --black: #000000;
}