.main, .main_description{
    padding-top: 5.5rem;
}


.main .main_description{
    width: 1090px;
    background-color: #fff;
    padding: 60px 0;
}

.main .main_description .main_description_content{
    margin-bottom: 30px;
}

.main .main_description .main_description_content .subtitle{
    margin-top: 35px;
}

.main .main_description .main_description_content p{
    padding: 0 45px;
    margin: 7px;
}

.main .main_description .main_description_content h2{
    padding: 0 45px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.main .main_description .main_description_content h3{
    padding: 0 45px;
    margin-bottom: 4px;
    margin-top: 25px;
}

.main .main_description .video{
    padding: 0px 45px;
    margin-top: 40px;
}